:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
.hero p {
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: #272142;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 200px 40px;
}
h1 {
  font-size: 96px;
  font-weight: 700;
}
h2 {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: 400;
  color: #272142;
}
.btn-hero {
  font-family: var(--default-font);
  color: #ffffff;
  background: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  padding: 18px 30px;
  border-radius: 4px;
  text-decoration: none;
}
.btn-hero:hover {
  color: #212552;
  background-color: var(--primary-color);
}
