:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --shadow: rgba(63, 57, 170, 0.35) 0px 5px 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
}

.hero p {
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 2;
  margin: 0;
  color: #272142;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 200px 40px;
}
h1 {
  font-size: 96px;
}
h2 {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: #272142;
}
h3 {
  font-size: 64px;
}
.btn-brending {
  font-family: var(--default-font);
  color: #ffffff;
  background: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  padding: 18px 30px;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: var(--shadow);
}
.btn-brending:hover {
  color: #212552;
  background-color: var(--primary-color);
}
.sub-header {
  font-size: 18px;
  color: #272142;
  font-family: var(--default-font);
  padding: 80px;
}
.project-description {
  font-family: var(--default-font);
  padding: 20px 60px;
}
.project-description p {
  font-size: 16px;
  line-height: 30px;
  padding-top: 40px;
}
.btn-project {
  border: 1px solid var(--primary-color);
  font-size: 16px;
  padding: 18px 30px;
  box-shadow: var(--shadow);
  text-decoration: none;
  color: var(--primary-color);
}
.btn-project:hover {
  color: var(--primary-color);
}
.bg-main {
  background-color: #a8a3fd;
}
.work-enquiry-container {
  margin: 150px 10px 80px 10px;
}
.work-enquiry-heading {
  font-size: 48px;
  font-weight: bold;
  padding: 0 60px;
}
footer {
  background-color: #d1cff0;
  padding: 30px 0;
}
footer a {
  color: var(--primary-color);
}
footer a:hover {
  opacity: 0.7;
}
.mail-footer {
  color: #000000;
  font-family: var(--default-font);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

@media (max-width: 960px) {
  .hero {
    padding: 100px 20px;
  }
  .hero p {
    font-size: 28px;
  }
  h1 {
    font-size: 44px;
  }
  h3 {
    font-size: 44px;
  }
  .project-description {
    padding: 20px 0;
    text-align: center;
  }
  .project-description p {
    padding-top: 20px;
  }
  .work-enquiry-container {
    margin: 70px 0;
  }
  .work-enquiry-heading {
    font-size: 28px;
    text-align: center;
  }
  .btn-brending {
    font-size: 16px;
    font-weight: 400;
    padding: 12px 20px;
  }
  .btn-project {
    font-size: 16px;
    padding: 12px 20px;
  }
  .contact-link-btn {
    text-align: center;
  }
}
