:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --primary-color: rgb(108, 99, 255);
  --secondary-color: #f9f7fe;
  --shadow: rgba(63, 57, 170, 0.35) 0px 5px 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
}

.hero p {
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 2;
  margin: 0;
  color: #272142;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 200px 40px;
}
h1 {
  font-size: 96px;
}
h2 {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: #272142;
}
h3 {
  font-size: 64px;
}
.btn-hero {
  font-family: var(--default-font);
  color: #ffffff;
  background: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  padding: 18px 30px;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: var(--shadow);
}
.btn-hero:hover {
  color: #212552;
  background-color: var(--primary-color);
}
.sub-header {
  font-size: 18px;
  color: #272142;
  font-family: var(--default-font);
}
.project-description {
  font-family: var(--default-font);
  padding: 20px 60px;
}
.project-description p {
  font-size: 16px;
  line-height: 30px;
  padding-top: 40px;
}
.btn-project {
  border: 1px solid var(--primary-color);
  font-size: 16px;
  padding: 18px 30px;
  box-shadow: var(--shadow);
  text-decoration: none;
  color: var(--primary-color);
}
.btn-project:hover {
  color: var(--primary-color);
}

@media (max-width: 960px) {
  .hero {
    padding: 100px 20px;
  }
  .hero p {
    font-size: 28px;
  }
  h1 {
    font-size: 44px;
  }
  h3 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .project-description p {
    padding-top: 20px;
  }
}
